html, body{ 

    height: 100%; 

    margin: auto; 

} 

.page_container{ 

    background-color: rgb(226, 228, 241); 

    width:1700px;   

    margin: auto; 
    
    flex-wrap: wrap;
    display:flex;

} 

  

.box{ 

    width:200px; 

    height: 200px; 

    border:2px solid red; 

} 

  

#box1{ 

    background-color: #49d260; 
    width:100%;
    order: 1;
} 

#box2{ 

    background-color: #c1d42f; 
    order: 2;
    width: 100%;

} 

#box3{ 

    background-color: #5039d3; 
    order: 4;
    margin-left: 431px;
    margin-bottom: 20px;

} 

#box4{ 

    background-color: #e03f3f; 
    order: 3;
    margin-left: 431px;
    margin-top: 20px;
    
} 

#box5{ 

    background-color: #d249cb; 
    order: 5;
    margin-left: 431px;
    margin-bottom: 20px;

} 

#box6{ 

    background-color: #e9a340; 
    order: 6;
    width: 100%;

} 